<%= simple_form_for(@cocktail) do |f| %>
  <%= f.error_notification %>
  <%= f.object.errors.full_messages %>

  <%= f.label :name %>
  <%= f.text_field :name, placeholder: "name" %>
  <%= f.fields_for :doses do |d| %>
    <p>
      <%= d.text_field :description %>
     <%= d.select :ingredient_id, options_from_collection_for_select(Ingredient.all, 'id', 'name') %>
    </p>
  <% end %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>

    <%= f.button :submit, class:"btn btn-primary" %>
<% end %>
