<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), <%= image_tag('gallery.jpg') %> ;">
  <div class="banner-content">
    <h1>Cocktails</h1>
    <p>Create your own cocktail recipe</p>
    <%= link_to "New Cocktail", new_cocktail_path, :class => 'btn btn-primary'%>
  </div>
</div>



<div class="text-center">
  <p id="notice"><%= notice %></p>

  <h1>Listing Cocktails</h1>

  <% @cocktails.each do |cocktail| %>
    <h3><%= link_to cocktail.name, cocktail %></h3>
    <%= image_tag cocktail.photo.url(:small) %>
    <p><%= link_to 'Destroy', cocktail, method: :delete, data: { confirm: 'Are you sure?' } %></p>
  <% end %>

  <br>
  <hr/>

  <%= link_to 'New Cocktail', new_cocktail_path %>
</div>
