<div class="text-center">
  <p id="notice"><%= notice %></p>

  <h1>Listing Cocktails</h1>

  <h2>Name</h2>

  <% @cocktails.each do |cocktail| %>
    <h3><%= cocktail.name %></h3>
    <%= link_to 'Show', cocktail %></td>
    <%= link_to 'Destroy', cocktail, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>

  <br>
  <hr/>

  <%= link_to 'New Cocktail', new_cocktail_path %>
</div>
